Repository Substancia/REACTive-cucumber-NEST, changes with the owners that CODEOWNERS names for each.
All owners: @substancia, @cooliscool, @boltkk95

CODEOWNERS:

* @substancia @cooliscool @boltkk95

/backend/ @substancia
/kubernetes/ @substancia

/database/ @cooliscool

/frontend/ @boltkk95

added comment
  backend/package.json
  backend/src/app.module.ts
Owners: @substancia

add mongoose dependency
  backend/package.json
Owners: @substancia

dbsupport-user-related-new files
  backend/src/db/dto/base-user.dto.ts
  backend/src/db/dto/create-user.dto.ts
  backend/src/db/dto/update-user.dto.ts
  backend/src/db/schemas/user.schema.ts
Owners: @substancia

dbsupport related changes in app ts files
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
Owners: @substancia

dbsupport - user - related changes in auth service
  backend/src/user/auth.service.ts
Owners: @substancia

dbsupport related changes in user controller
  backend/src/user/user.controller.ts
Owners: @substancia

added dependency - mongoose
  backend/package.json
Owners: @substancia

Added db setup related info into the readme
  backend/README.md
Owners: @substancia

update redme
  backend/README.md
Owners: @substancia

removed commented db debugging code & endpoints
  backend/src/user/auth.service.ts
  backend/src/user/user.controller.ts
Owners: @substancia

Change type of password field on login and sign up page in frontend
  frontend/src/Pages/SignUp/SignUp.jsx
  frontend/src/features/LogIn/LogIn.jsx
Owners: @boltkk95

Add new container name
  backend/README.md
Owners: @substancia

Remove JWT related TODO comment
  backend/src/app.module.ts
Owners: @substancia

Lint related change
  backend/src/app.module.ts
Owners: @substancia

Changing session token timeout to 3 days
  backend/src/user/auth.service.ts
Owners: @substancia

add docs
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  Contributors.md
  README.md
Owners: @substancia, @cooliscool, @boltkk95

db support for messages - added necessary data objects & db models
  backend/src/db/dto/base-chatconnection.dto.ts
  backend/src/db/schemas/chatconnection.schema.ts
  backend/src/db/schemas/message.schema.ts
Owners: @substancia

added username to session of a logged in user.
  backend/src/common/middleware/auth.middleware.ts
Owners: @substancia

chat service - adding db support WIP
  backend/src/chat/chat.service.ts
Owners: @substancia

Create .github/workflows/semgrep.yml
  .github/workflows/semgrep.yml
Owners: @substancia, @cooliscool, @boltkk95

Create .github/workflows/codeql.yml
  .github/workflows/codeql.yml
Owners: @substancia, @cooliscool, @boltkk95

Update README.md
  README.md
Owners: @substancia, @cooliscool, @boltkk95
